* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

html, body {
  height: 100vh;
  width: 100vw;
  
  background-color: black;
}

body {
  background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  position: relative;
  height: 100vh;
}

#phone {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  height: 62.7rem;
  width: 31.1rem;

  background: url('../imagens/frame-iphone.png') no-repeat;
}

#screen {
  position: relative;
  top: 8rem;
  left: 2.2rem;

  width: 26.69rem;
  height: 47.1rem;
}

#social {
  text-align: right;
}

#social img {
  width: 5rem;
  margin: 1rem;

  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

#social img:hover {
  border: 2px solid rgba(255, 255, 255, 0.636);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.624);

  transform: translate(-3px, -3px);
  transition: transform 300ms, border 150ms;
}